/* links */
a {
    text-decoration: none;
    color: #61418D;
}

a:hover, 
a:focus,
a:visited {
    text-decoration: none;
    color: #61418D;
}

/* map */
.map-container {
    width: 100%;
    height: 100%;
}

.map {
    height: calc(100% - 50px);
}

/* locations menu button and list */
#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 101;
    height: 50px;
    width: 50px;
    background: url(assets/search.svg);
    border: none;
    cursor: pointer;
}

#menu {
    position: absolute;
    max-width: 300px;
    height: 60vh;
    margin: 110px 0;
    padding: 30px 20px;
    z-index: 100;
    background-color: #61418D;
    color: #f7f7f7;
    list-style-type: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style-type: none;
    padding: 5px 0;
}

#menu li:hover {
    cursor: pointer;
}

/* the input */
.filter-locations {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

li.venues-list {
    margin: 5px 0;
}

li:hover {
    cursor: pointer;
}

/* menu visibility */
.visible {
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transform-origin: -100% 0%;
    transform: translate(0%, 0);
}

.hidden {
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
}

/* Foursquare attribution */
.foursquare-attribution {
    font-size: 12px;
    padding-top: 10px;
}

/* footer */
footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #61418D;
    color: 	#D4C7B2;
}

a.footer-link,
a.footer-link:focus,
a.footer-link:visited {
    color: #f7f7f7;
}

.footer-link:hover {
    color: #f7f7f7;
}

/* error handling */
.gm-err-title,
.gm-err-message {
    color: #61418D;
}

/* media queries */

@media screen and (max-width: 500px) {
    #menu {
        /* margin-top: 0; */
        font-size: 0.8em;
        max-width: 160px;
    }
    .app-title{
        margin-top: 40px;
        font-size: 20px;
    }
    li.venues-list {
        max-width: 150px;
    }
    .filter-locations {
        width: 90%;
    }
}